@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* purgecss start ignore */
@tailwind  base;
@tailwind  components;
/* purgecss end ignore */

@tailwind  utilities;

@layer utilities {
    @variants responsive {
        /* Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        .no-scrollbar {
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
        }
    }
}

.bring-to-front:hover {
    z-index: 39 !important;
}

* {
    -webkit-tap-highlight-color: transparent;
}