<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="/css/application.css"/>
    <title>TODO list</title>
</head>
<body>
<div>
    <th:block th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">
        <div>
            Welcome <span sec:authentication="principal.username">User</span>
        </div>
    </th:block>
</div>
</body>
</html>