<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="/css/application.css"/>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <title>City Trip Planner</title>
</head>
<body class="bg-gray-100 h-screen w-screen">
    <div class="bg-white border-b-2 flex flex-col justify-center items-center lg:flex-row lg:justify-between">
        <div class="flex items-center justify-center lg:justify-start">
            <svg class="w-10 inline-block lg:ml-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M3 6a3 3 0 013-3h10a1 1 0 01.8 1.6L14.25 8l2.55 3.4A1 1 0 0116 13H6a1 1 0 00-1 1v3a1 1 0 11-2 0V6z" clip-rule="evenodd" />
            </svg>
            <a href="/">
                <h1 class="text-4xl p-5 font-body text-gray-900 leading-tight inline-block">City Trip Planner</h1>
            </a>
        </div>
        <th:block th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">
            <a class="text-2xl p-5 font-bold text-gray-900 leading-tight inline-block lg:mr-10
                      cursor-pointer transition duration-500 ease-in-out transform hover:translate-x-4" href="#" th:href="@{/logout}">
                Logout
                <svg class="w-8 inline-block hover" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
                </svg>
            </a>
        </th:block>
    </div>

    <th:block th:if="${#authorization.expression('hasRole(''ROLE_USER'')') == false}">
    <div class="lg:flex lg:mt-40">
        <div class="px-8 py-12 max-w-md mx-auto sm:max-w-xl lg:w-1/2 lg:max-w-full">
            <div class="xl:max-w-lg xl:ml-auto flex flex-col items-center lg:block">
                <img class="mt-10 rounded-lg shadow-xl sm:h-64 sm:w-full sm:object-cover sm:object-center lg:hidden" src="/img/planatrip.jpg" alt="Planning a trip">
                <h1 class="mt-6 text-2xl font-bold text-gray-900 leading-tight sm:text-4xl sm:mt-8">
                    Planning your trip has never been easier.
                    <br>
                    <span class="text-indigo-400">Make your own vacation.</span>
                </h1>

                <p class="mt-2 text-gray-600 sm:mt-4 sm:text-xl">
                    City Trip Planner will help you in designing your imagined vacation
                    so you don't have to worry about finding the perfect balance and can
                    get straight to packing!
                </p>

                <div class="mt-4 sm:mt-6">
                    <a href="/register" class="inline-block bg-yellow-400 text-white text-sm py-3 px-5 rounded-lg
                     shadow-lg uppercase tracking-wider font-semibold cursor-pointer sm:text-base hover:bg-yellow-300
                      transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110 active:bg-yellow-500">
                        Start planning
                    </a>
                </div>
            </div>
        </div>
        <div class="hidden lg:block lg:w-1/2">
            <img class="h-full shadow-xl rounded-xl object-cover object-center" src="/img/planatrip.jpg" alt="Planning a trip">
        </div>
    </div>
    </th:block>

    <th:block th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">
        <div style="height:calc(100vh - 12.5rem)!important;" class="flex flex-col justify-start items-center">

            <div class="w-3/4 lg:w-1/2">
                <h1 class="mt-6 text-2xl font-bold border-b-2 text-center text-gray-500 leading-tight
                    sm:text-3xl md:text-4xl lg:text-5xl sm:mt-8 pb-3">
                    Welcome back,
                    <span class="text-indigo-400" sec:authentication="principal.username">User</span>
                </h1>
            </div>

            <div class="flex flex-col w-full h-full md:flex-row">
                <div class="w-full h-1/2 flex flex-col items-center md:w-1/2 md:h-full overflow-auto no-scrollbar">
                    <h1 class="mt-6 text-xl text-center text-gray-500 leading-tight font-thin
                                sm:text-2xl md:text-3xl lg:text-4xl sm:mt-8 pb-3">
                        Create
                    </h1>
                    <div class="w-3/4">
                        <div x-data="{selected: null, name: 'New Planner', dropdown: null, type: null}" class="relative w-full flex flex-col items-center">
                            <div :class="{'hover:border-transparent border-transparent transform scale-100 -translate-y-1 transition ease-out duration-500 bg-white shadow-lg': selected === 1,
                                   'transform scale-95 -translate-y-0 transition ease-out duration-500 border-gray-200 hover:border-gray-400': selected !== 1}"
                                 class="w-full z-10 group rounded-xl border-2 bg-gray-50 p-5 mt-5 ml-5 mr-5 cursor-pointer select-none flex flex-row justify-between">
                                <div @click="selected !== 1 ? selected = 1 : selected = null" class="flex flex-col w-full">
                                    <p x-text="name"
                                       :class="{'text-indigo-500': selected === 1}"
                                       class="text-gray-500 group-hover:text-indigo-500 font-bold">
                                        New Planner
                                    </p>
                                    <p x-text="type !== null ? type : 'Create a new Editor and start planning your vacation.'"
                                       :class="{'text-gray-700': selected === 1}"
                                       class="text-gray-500 group-hover:text-gray-600">
                                        Create a new editor and start planning your vacation.
                                    </p>
                                </div>
                                <button x-show="name.length > 0 && type !== null"
                                        @click="selected = null; name = 'New Planner'; dropdown = null; type = null"
                                        class="transform hover:scale-125 hover:text-green-400 transition ease-in-out
                                       duration-500 focus:outline-none border-none text-gray-500">
                                    <svg class="w-10 h-10" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.25"
                                              d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                                    </svg>
                                </button>
                            </div>

                            <div class="w-11/12 transform z-0 -translate-y-1 items-center relative
                                overflow-hidden transition-all max-h-0 ease-in-out duration-500" x-ref="newEditorContainer"
                                 x-bind:style="selected === 1 ? dropdown === 1 ? 'max-height: ' + ($refs.newEditorContainer.scrollHeight + 100) :
                                       'max-height: ' + $refs.newEditorContainer.scrollHeight : ''">
                                <div class="flex flex-col p-5 bg-white border-l-2 border-r-2 border-b-2 rounded-b-xl items-center">
                                    <div class="pb-4 flex items-center w-full">
                                        <label class="pr-5 font-bold tracking-tight text-gray-400" for="addName">Name:</label>
                                        <input x-model="name"
                                               @click.away="if(name.length === 0) name = 'New Planner';"
                                               class="w-full shadow appearance-none border rounded py-2 px-2 text-grey-darker
                                              focus:outline-none focus:ring" type="text" id="addName" name="add-name">
                                    </div>
                                    <div class="flex flex-row items-start w-full relative">
                                        <p class="pr-7 pt-2 font-bold tracking-tight text-gray-400">
                                            Type:
                                        </p>
                                        <div class="w-full flex flex-col items-center">
                                            <p @click="dropdown !== 1 ? dropdown = 1 : dropdown = null"
                                               x-text="type !== null ? type : 'Type'"
                                               class="w-full shadow border rounded py-2 px-2 text-grey-darker cursor-pointer z-10">
                                                Type
                                            </p>
                                            <div class="flex flex-col relative transform w-11/12 absolute z-0
                                            overflow-hidden transition-all max-h-0 ease-in-out duration-500"
                                                 x-ref="typeContainer" x-bind:style="dropdown === 1 ? 'max-height: ' + $refs.typeContainer.scrollHeight + 'px' : ''">
                                                <div class="flex flex-col p-5 bg-white border-l-2 border-r-2 border-b-2 rounded-b-xl items-center">
                                                    <p @click="type = 'Restricted'"
                                                       class="w-full pl-2 mb-2 cursor-pointer transform hover:translate-x-1.5 ease-in-out duration-500
                                                      text-gray-500 border-l-2 border-transparent hover:text-gray-700 hover:border-indigo-600">
                                                        Restricted
                                                    </p>
                                                    <p @click="type = 'Unrestricted'"
                                                       class="w-full pl-2 cursor-pointer transform hover:translate-x-1.5 ease-in-out duration-500
                                                      text-gray-500 border-l-2 border-transparent hover:text-gray-700 hover:border-indigo-600">
                                                        Unrestricted
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col w-full h-1/2 items-center md:w-1/2 md:h-full">
                    <h1 class="mt-6 text-xl text-center text-gray-500 font-thin
                                sm:text-2xl md:text-3xl lg:text-4xl sm:mt-8 pb-3">
                        View
                    </h1>

                    <div class="w-3/4 h-full overflow-auto no-scrollbar flex flex-col items-center">
                        <div class="w-11/12 group rounded-xl border-2 p-5 mt-5 cursor-pointer select-none flex flex-row justify-between
                                    transform hover:translate-x-3 hover:bg-white hover:shadow-lg bg-gray-50
                                    hover:border-transparent transition ease-out duration-700">
                            <div class="flex flex-row w-full justify-between items-center">
                                <div class="flex flex-col">
                                    <p class="text-gray-500 group-hover:text-indigo-500 font-bold">
                                        New Planner
                                    </p>
                                    <p class="text-gray-500 group-hover:text-gray-600">
                                        Restricted
                                    </p>
                                </div>
                                <div class="mr-5 ml-5">
                                    324deaw-32342da-34234ee
                                </div>
                            </div>
                            <button class="transform hover:scale-125 hover:text-red-400 transition ease-in-out
                                       duration-500 focus:outline-none border-none text-gray-500">
                                <svg class="w-10 h-10" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.25"
                                          d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</body>
</html>