<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="/css/application.css"/>
    <title>Login</title>
</head>
<body>
<form role="form" th:action="@{/login}" th:method="post">

    <div th:if="${param.error}">
        <div>Invalid username or password.</div>
    </div>

    <label for="username">Username</label>
    <input type="text" id="username" name="username">

    <label for="password">Password</label>
    <input type="password" id="password" name="password">

    <input type="submit">
</form>
</body>
</html>