<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="/css/application.css"/>
    <title>Register</title>
</head>
<body>
<form role="form" th:action="@{/register}" th:method="post" th:object="${user}">
    <label for="firstName">First Name</label>
    <input type="text" id="firstName" name="firstName" th:field="*{firstName}">

    <label for="lastName">Last Name</label>
    <input type="text" id="lastName" name="lastName" th:field="*{lastName}">

    <div th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" th:field="*{email}">
        <p th:each="error : ${#fields.errors('email')}" th:text="${error}">Validation error</p>
    </div>

    <label for="password">Password</label>
    <input type="password" id="password" name="password" th:field="*{password}">

    <input type="submit">
</form>
</body>
</html>